body.day-background {
    background-image: url('/images/daytime.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

body.night-background {
    background-image: url('/images/nighttime.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(10px);
}